black
flake8
http-server-mock
ipdb
mypy
pdoc3
pre-commit
pytest
pytest-cov
pytest-profiling
ruff
types-requests

opensearch_py>=2.0.0
opensearch_dsl>=2.0.1
elasticsearch>=7.17.6
elasticsearch_dsl>=7.4.0
